:root {
  --primary-color: #002b80;
  --text-Color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--text-Color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
  margin: 7px 0;
}

header a {
  text-decoration: none;
  color: var(--text-Color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: yellow;
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Footer Sytle */
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  line-height: 1.5;
  text-align: center;
  color: var(--text-Color);
}

section {
  padding: 60px;
}

/* Jumbo */
.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) , black), url("./assets/Cover/jumbotron.png");
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-image {
  border: 3px solid var(--secondary-color);
  background-color: rgba(0, 43, 128, 0.80);
  padding: 20px;
  color: var(--text-Color);
  width: 25%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.hero-image h2 {
  flex: 12;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
}

/* End of Hero Section */

.flex-row {
  display: flex;
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

/* About Me Section */
.about-section p {
  line-height: 1.7;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* Projects Section */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: 48%;
  height: 300px;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.first-project {
  width: 100%;
}

/* Contact ME Section */
.contact-section ul {
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  width: 80%;
}

.contact-section ul li {
  border-bottom: 1px solid var(--primary-color);
}

.contact-section ul li a {
  text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .flex-row {
    flex-direction: column;
  }

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .section-title {
    width: 80%;
  }

  footer div {
    text-align: center;
    width: 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero h2 {
    text-align: center;
    justify-content: center;
  }

  .section-title {
    width: 95%;
  }
}